version: '3.8'

services:
  app:
    # Gunakan pre-built image dari Docker Hub
    image: adakhaddad/irrigation-dashboard:latest
    container_name: irrigation-dashboard
    ports:
      - "3000:3000"
    env_file:
      - .env
    restart: unless-stopped
    networks:
      - irrigation-network
    healthcheck:
      test: ["CMD", "wget", "--quiet", "--tries=1", "--spider", "http://localhost:3000"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 40s

networks:
  irrigation-network:
    driver: bridge
