@import "tailwindcss";
@import 'react-big-calendar/lib/css/react-big-calendar.css';

@layer base {
  body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  }
}